{% load custom_tags %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Home{% endblock %} &ndash; D&amp;D Tools (mobile)</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0"/>
    <meta name="robots" content="noindex, nofollow">
    <link href="{% media "favicon-mobile.ico" %}" rel="SHORTCUT ICON"/>
    <link rel="stylesheet" media="all" href="{% media "css/mobile/style.css" %}" type="text/css">
    <script type="text/javascript" src="{% media "js/jquery-1.7.min.js" "no-timestamp" %}"></script>
</head>

<body>
<div class="wrap">
    <header>
        <div class="logo">
            <a href="{% url index_mobile %}">
                <img src="{% media "images/mobile/logo.png" %}" alt="D&ampD Tools (mobile)"/>
            </a>
        </div>
        <div class="options">
            <ul>
                <li id="options-desktop"><a href="{% url force_desktop_version %}{% if back_desktop_url %}?b={{ back_desktop_url|urlencode }}{% endif %}">Desktop</a></li>
                <li id="options-search">Search</li>
                <li id="options-menu">Menu</li>
                <li id="options-submenu">Submenu</li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="search-box" id="search-box">
            <form action="http://www.google.com/cse" id="cse-search-box">
                <input name="cx" type="hidden" value="010918785989085430250:jd6tjgonwfu"/>
                <input name="ie" type="hidden" value="UTF-8"/>
                <input type="text" placeholder="Search D&amp;D Tools" name="q"/>
                <input type="submit" value="Go"/>
            </form>
            <div class="clear"></div>
        </div>
        <nav class="vertical menu" id="menu">
            <ul>
                <li{% if request.menu_item == "home" %} class="selected"{% endif %}><a href="{% url index_mobile %}">Home</a></li>
                <li{% if request.menu_item == "rulebooks" %} class="selected"{% endif %}><a href="{% url rulebook_list_mobile %}">Rulebooks</a></li>
                <li{% if request.menu_item == "feats" %} class="selected"{% endif %}><a href="{% url feat_index_mobile %}">Feats</a></li>
                <li{% if request.menu_item == "spells" %} class="selected"{% endif %}><a href="{% url spell_index_mobile %}">Spells</a></li>
                <li{% if request.menu_item == "classes" %} class="selected"{% endif %}><a href="{% url character_class_list_mobile %}">Classes</a></li>
                <li{% if request.menu_item == "skills" %} class="selected"{% endif %}><a href="{% url skill_list_mobile %}">Skills</a></li>
                <li{% if request.menu_item == "items" %} class="selected"{% endif %}><a href="{% url item_index_mobile %}">Items</a></li>
                <li{% if request.menu_item == "races_monsters" %} class="selected"{% endif %}><a href="{% url monster_index_mobile %}">Races &amp; Monsters</a></li>
            </ul>
        </nav>

        <nav class="vertical menu" id="submenu">
            <ul>
                {% block submenu %}
                {% endblock %}
            </ul>
        </nav>

    </header>


    <div class="content">
        <article>
            {% block content %}{% endblock %}
        </article>
    </div>
    <footer>
        <p>&copy; dndtools.eu 2013. Design by <a href="http://mobifreaks.com">Mobifreaks</a>
        </p>
    </footer>
</div>

<script type="text/javascript">
    window.addEventListener("load", function () {
        // Set a timeout...
        setTimeout(function () {
            // Hide the address bar!
            window.scrollTo(0, 1);
        }, 0);
    });

    if ($('#submenu').find('li').size() == 0) {
        $('#options-submenu').addClass('disabled');
    } else {
        $('#options-submenu').click(function () {
            $(this).toggleClass('active');
            $('#submenu').toggle();

            $('#menu, #search-box').hide();
            $('#options-search, #options-menu').removeClass('active');
        });
    }

    $('#search-box, #menu, #submenu').hide();

    $('#options-search').click(function () {
        $(this).toggleClass('active');
        $('#search-box').toggle();

        $('#submenu, #menu').hide();
        $('#options-menu, #options-submenu').removeClass('active');
    });
    $('#options-menu').click(function () {
        $(this).toggleClass('active');
        $('#menu').toggle();

        $('#submenu, #search-box').hide();
        $('#options-submenu, #options-search').removeClass('active');
    });

    $('#options-desktop').click(function(e) {
        if (window.confirm('Do you really want to switch to desktop version? You can switch back to mobile by closing your browser or using a link at the bottom of the page.')) {
            window.location = $(this).find('a').attr('href');
        }
    });
    $('.content').click(function () {
        $('#search-box, #menu, #submenu').hide();
        $('#options-menu, #options-search, #options-submenu').removeClass('active');
    });
</script>
</body>
</html>
