{% extends "dnd/mobile/layout.html" %}

{% block submenu %}
    <li{% if request.submenu_item == "monsters" %} class="selected"{% endif %}>
        <a href="{% url 'monster_index_mobile' %}">Monsters</a>
    </li>

    <li{% if request.submenu_item == "monsters_by_rulebooks" %} class="selected"{% endif %}>
        <a href="{% url 'monster_list_by_rulebook_mobile' %}">Monsters by Rulebooks</a>
    </li>

    <li{% if request.submenu_item == "races" %} class="selected"{% endif %}>
        <a href="{% url 'race_index_mobile' %}">Races</a>
    </li>

    <li{% if request.submenu_item == "races_by_rulebooks" %} class="selected"{% endif %}>
        <a href="{% url 'race_list_by_rulebook' %}">Races by Rulebooks</a>
    </li>

    <li{% if request.submenu_item == "race_types" %} class="selected"{% endif %}>
        <a href="{% url 'race_type_index' %}">Race Types</a>
    </li>

    <li{% if request.submenu_item == "languages" %} class="selected"{% endif %}>
        <a href="{% url 'language_index_mobile' %}">Languages</a>
    </li>
{% endblock %}