{% extends "dnd/character_class_layout.html" %}

{% load custom_filters %}

{% block extra_meta %}{% include "dnd/meta_noindex.html" %}{% endblock %}
{% block extra_link %}{{ paginator.print_rel_prev_next }}{{ block.super }}{% endblock %}

{% block title %}Classes{% endblock %}

{% block breadcrumbs %}
    &raquo; <a href="{% url character_class_list  %}">Classes</a>
{% endblock %}

{% block content %}

<h2>Classes</h2>

{% include "dnd/filter_form.html" %}


{{ paginator.print_navigation }}

<table class="common">
<tr>
  <th>Class name</th>
  <th>Prestige</th>
  <th>Rulebook</th>
</tr>
    {% for character_class_variant in character_class_list %}
        <tr>
            <td><a href="{{ character_class_variant.character_class.get_absolute_url }}">{{ character_class_variant.character_class.name }}</a></td>
            <td>{{ character_class_variant.character_class.prestige|boolean_as_img  }}</td>
            <td><a href="{{ character_class_variant.rulebook.get_absolute_url }}">{{ character_class_variant.rulebook.name }}</a></td>
        </tr>
    {% endfor %}
</table>

{{ paginator.print_navigation }}

{% endblock %}