{% extends "dnd/rulebooks_layout.html" %}

{% block extra_link %}{{ paginator.print_rel_prev_next }}{{ block.super }}{% endblock %}
{% block extra_meta %}{% include "dnd/meta_noindex.html" %}{% endblock %}

{% block title %}Editions{% endblock %}

{% block breadcrumbs %}
    &raquo; <a href="{% url edition_list  %}">Editions</a>
{% endblock %}


{% block content %}

<h2>Editions</h2>

{{ paginator.print_navigation }}

<table class="common">
<tr>
  <th>Edition name</th>
</tr>
    {% for edition in edition_list %}
        <tr>
            <td><a href="{{ edition.get_absolute_url }}">{{ edition.name }}</a></td>
        </tr>
    {% endfor %}
</table>

{{ paginator.print_navigation }}

{% endblock %}