{{ paginator.print_navigation }}

<table class="common">
    <tr>
        <th>Race name</th>
        <th>Rulebook name</th>
        <th>Edition</th>
    </tr>
    {% for race in race_list %}
        <tr>
            <td><a href="{{ race.get_absolute_url }}">{{ race.name }}</a></td>
            <td><a href="{{ race.rulebook.get_absolute_url }}">{{ race.rulebook.name }}</a></td>
            <td><a href="{{ race.rulebook.dnd_edition.get_absolute_url }}">{{ race.rulebook.dnd_edition.name }}</a></td>
        </tr>
    {% endfor %}
</table>

{{ paginator.print_navigation }}