{% extends "dnd/skill_layout.html" %}

{% block extra_link %}
    {% if use_canonical_link %}
        <link rel="canonical" href="{% url skill_detail skill_slug=skill.slug %}" />
    {% endif %}
    {{ feat_paginator.print_rel_prev_next }}
    {{ block.super }}
{% endblock %}
{% block title %}{{ skill.name }} &ndash; Skills{% endblock %}

{% block breadcrumbs %}
    &raquo; <a href="{% url skill_list %}">Skills</a>
    &raquo; <a href="{{ skill.get_absolute_url }}">{{ skill.name }}</a>
{% endblock %}


{% block admin_edit %}
    <a href="{% url admin:dnd_skill_change skill.id %}">EDIT</a>
    {% if selected_variant %}
        <a href="{% url admin:dnd_skillvariant_change selected_variant.id %}">EDIT VARIANT</a>
    {% endif %}
{% endblock %}

{% block content %}

<h2>{{ skill.name }} <span class="small">({{ skill.base_skill }}{% if skill.trained_only %}; Trained only{% endif %}{% if skill.armor_check_penalty %}; Armor check penalty{% endif %})</span></h2>
{% if selected_variant %}
    <p>(<a href="{% url skills_in_rulebook selected_variant.rulebook.slug selected_variant.rulebook.id %}">{{ selected_variant.rulebook.name }}</a> variant, p. {{ selected_variant.page }})</p>

    {% with selected_variant as skill_variant %}
        {% include "dnd/skill_variant_inner.html" %}
    {% endwith %}

{% endif %}

{% if other_variants %}
    <h3>Also appears in</h3>
    <ol>
        {% for variant in other_variants %}
            <li><a href="{{ variant.get_absolute_url }}">{{ variant.rulebook.name }}</a></li>
        {% endfor %}
    </ol>
{% endif %}

<h3>Required for feats</h3>

{{ feat_paginator.print_navigation }}

<table class="common">
<tr>
  <th>Feat name</th>
</tr>
{% for feat in feat_list %}
    <tr>
        <td><a href="{{ feat.get_absolute_url }}">{{ feat.name }}</a></td>
    </tr>
{% endfor %}

</table>

{{ feat_paginator.print_navigation }}

{% endblock %}