{% extends "dnd/spell_layout.html" %}

{#{% block extra_link %}<link rel="canonical" href="{{ spell_school.get_absolute_url }}" />{% endblock %}#}

{% block title %}Spells in {{ spell_school.name }}{% endblock %}

{% block breadcrumbs %}
    &raquo; <a href="{% url spell_index %}">Spells</a>
    &raquo; <a href="{% url spell_school_list  %}">Spell Schools</a>
    &raquo; <a href="{{ spell_school.get_absolute_url }}">{{ spell_school.name }}</a>
{% endblock %}

{% block admin_edit %}<a href="{% url admin:dnd_spellschool_change spell_school.id %}">EDIT</a>{% endblock %}

{% block content %}

<h2>Spells in {{ spell_school.name }}</h2>

{% include "dnd/spell_table.html" %}

{% endblock %}