{{ paginator.print_navigation }}

<table class="list">
<tr>
  <th>Feat name</th>
{#  <th>Short description</th>#}
  <th>Rulebook</th>
</tr>
{% for feat in feat_list %}
    <tr>
        <td><a href="{% url feat_detail_mobile feat_id=feat.id %}">{{ feat.name }}</a></td>
{#        <td title="{{ feat.description }}">{{ feat.description|truncatewords:10 }}</td>#}
        <td><a href="{{ feat.rulebook.get_absolute_url }}">{{ feat.rulebook.abbr }}</a></td>
    </tr>
{% endfor %}
</table>

{{ paginator.print_navigation }}