{% extends "dnd/mobile/deities/deity_layout.html" %}

{% block title %}{{ deity.name }} &ndash; Deities{% endblock %}

{% block content %}

<h2>{{ deity.name }}</h2>

{% if deity.description_html %}
<div class="nice-textile">
    {{ deity.description_html|safe }}
</div>
{% endif %}

{% if deity.alignment %}
<h4>Alignment</h4>
<p>{{ deity.alignment }}</p>
{% endif %}

{% if deity.favored_weapon %}
<h4>Favored Weapon</h4>
<p><a href="{{ deity.favored_weapon.get_absolute_url_mobile }}">{{ deity.favored_weapon.name }}</a></p>
{% endif %}

{% endblock %}