{% extends "dnd/skills/skill_layout.html" %}

{% load custom_filters %}

{% block title %}Skills in {{ rulebook.name }}{% endblock %}

{% block breadcrumbs %}
    &raquo; <a href="{% url skill_list %}">Skills</a>
    &raquo; <a href="{% url skills_in_rulebook rulebook_slug=rulebook.slug rulebook_id=rulebook.id  %}">{{ rulebook.name }}</a> (<a href="{{ rulebook.get_absolute_url }}">book</a>)
{% endblock %}

{% block content %}

    <h2>Skills in {{ rulebook.name }}</h2>

    {% include "dnd/skills/skill_table_inner.html" %}

{% endblock %}