{% extends "dnd/mobile/items/item_layout.html" %}

{% block title %}Items{% endblock %}

{% block content %}

    <h2>Items by rulebook</h2>

    {{ paginator.print_navigation }}

    <table class="list">
        <tr>
            <th>Rulebook name</th>
            <th>Edition</th>
        </tr>
        {% for rulebook in rulebook_list %}
            <tr>
                <td><a href="{% url 'items_in_rulebook_mobile' rulebook_slug=rulebook.slug rulebook_id=rulebook.id %}">{{ rulebook.name }}</a></td>
                <td><a href="{{ rulebook.dnd_edition.get_absolute_url_mobile }}">{{ rulebook.dnd_edition.name }}</a></td>
            </tr>
        {% endfor %}
    </table>

    {{ paginator.print_navigation }}

{% endblock %}