{% extends "dnd/spells/spell_layout.html" %}

{% block extra_link %}{{ paginator.print_rel_prev_next }}{{ block.super }}{% endblock %}

{% block title %}Spells with {{ spell_descriptor.name }} descriptor{% endblock %}

{% block breadcrumbs %}
    &raquo; <a href="{% url spell_index %}">Spells</a>
    &raquo; <a href="{% url spell_descriptor_list  %}">Spell Descriptors</a>
    &raquo; <a href="{{ spell_descriptor.get_absolute_url }}">{{ spell_descriptor.name }}</a>
{% endblock %}

{% block admin_edit %}<a href="{% url admin:dnd_spelldescriptor_change spell_descriptor.id %}">EDIT</a>{% endblock %}

{% block content %}

<h2>Spells with {{ spell_descriptor.name }} descriptor</h2>

{% include "dnd/spells/spell_table.html" %}

{% endblock %}