{% load custom_filters %}

{{ paginator.print_navigation }}

<table class="common">
<tr>
  <th>Spell name</th>
  <th>Spell School</th>
  <th>Rulebook</th>
  <th>Effect</th>
  <th>Duration</th>
  <th>Range</th>
  <th>Components</th>
  <th>Casting Time</th>  
</tr>
{% for spell in spell_list %}
<tr>
    <td><a href="{{ spell.get_absolute_url }}">{{ spell.name }}</a></td>
    <td><a href="{{ spell.school.get_absolute_url }}">{{ spell.school.name }}</a></td>
	<td><a href="{{ spell.rulebook.get_absolute_url }}">{{ spell.rulebook.abbr }}</a></td>
    <td> </td>
	<td>{{ spell.duration }}</td>
	<td>{{ spell.range }}</td>
	<td>
		{% if spell.verbal_component %}<abbr title="Verbal">V</abbr>, {% endif %}
		{% if spell.somatic_component %}<abbr title="Somatic">S</abbr>, {% endif %}
		{% if spell.material_component %}<abbr title="Material">M</abbr>, {% endif %}
		{% if spell.arcane_focus_component %}<abbr title="Arcane Focus">AF</abbr>, {% endif %}
		{% if spell.divine_focus_component %}<abbr title="Divine Focus">DF</abbr>, {% endif %}
		{% if spell.xp_component %}<abbr title="Experience">XP</abbr>, {% endif %}
		{% if spell.meta_breath_component %}<abbr title="Meta Breath">MB</abbr>, {% endif %}
		{% if spell.true_name_component %}<abbr title="True Name">TN</abbr>, {% endif %}
		{% if spell.corrupt_component %}Corrupt, {% endif %}
		{% if spell.extra_components %}{{ spell.extra_components }}{% endif %}
	</td>
	
	<td>{{ spell.casting_time }}</td>
</tr>
{% endfor %}
</table>

{{ paginator.print_navigation }}