{% extends "dnd/spells/spell_layout.html" %}

{#{% block extra_link %}<link rel="canonical" href="{% url spells_in_rulebook rulebook_slug=rulebook.slug rulebook_id=rulebook.id  %}" />{% endblock %}#}

{% block title %}Spells in {{ rulebook.name }}{% endblock %}

{% block breadcrumbs %}
    &raquo; <a href="{% url spell_index %}">Spells</a>
    &raquo; <a href="{% url spells_in_rulebook rulebook_slug=rulebook.slug rulebook_id=rulebook.id  %}">{{ rulebook.name }}</a> (<a href="{{ rulebook.get_absolute_url }}">book</a>)
{% endblock %}

{% block content %}

<h2>Spells in {{ rulebook.name }}</h2>

{% include "dnd/spells/spell_table.html" %}

{% endblock %}